img{
	width:100px;
	height:100px;
}
.container-fluid .r1{
	display:grid;
	grid-template-columns:repeat(12,1fr);
}
.container-fluid .r2{
	display:grid;
	grid-template-columns:repeat(6,1fr);
}
.container-fluid .r3{
	display:grid;
	grid-template-columns:repeat(3,1fr);
}
.container-fluid .r4{
	display:grid;
	grid-template-columns:repeat(1,1fr);
}